.container{

}
.header{
	padding: 10px;
}

.body-layout{
	border: 1px solid #eaeaea;
	height: 100%;
	width: 100%;
}
.editor{
	float: left;
	width: 48%;
	border: 1px solid #eaeaea;
	margin: 10px;

}

.editor-toolbar{
	height: 32px;
    background-color: #2c3645;
    padding: 0 5px;
    overflow: hidden;
    position: relative;
    z-index: 10;

}
.editor-layout{

}

.preview{
	float: right;
	width: 48%;
	border: 1px solid #eaeaea;
	margin: 10px;
}

.preview-toolbar{
	height: 32px;
    background-color: #2c3645;
    padding-right: 5px;

}
.preview-layout{


}

.ace_editor{
	position: relative;
    overflow: hidden;
    font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    direction: ltr;
    text-align: left;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.ace-tm{
	background-color: #FFFFFF;
    color: black;
}

.line-nums{
	font-size:13px;
	line-height:13px;
	padding:10px 4px;
	font-family: monospace;
  background: #EEE;
	position: absolute;
	width: 20px;
	left: -28px;
	bottom: 0;
	top: 0;
	text-align:right;
	border:1px solid #999;
	height: 555px;
	float: right;
}

.rownr {overflow-y: hidden; background-color: rgb(105,105,105); color: white; text-align: right; vertical-align:top; z-index: 0; resize:none;}
.txt {width: 669px; ; overflow-x: scroll; background: transparent; z-index: 0 ;resize: none; border: none; outline: none;}


