@import url('https://fonts.googleapis.com/css?family=Knewave|Roboto&display=swap');

.container{
	height: 100%;
	width: 100%;	
	
	
}
.header{
	padding: 10px;
}

#pdf_viewer {
	width: 800px;
	height: 450px;
	overflow: auto;
	background: #333;
	/* text-align: center; */
	border: solid 3px;
}

.body-layout{
	margin-top: 100px;
	border: 1px solid #eaeaea;
	height: 100%;
	width: 100%;
}
.editor{
	float: left;
	width: 48%;
	border: 1px solid #eaeaea;
	margin: 10px;
	

}

#set {
	width: 80%;
	
}
.editor-toolbar{
	height: 50px;
    background-color: #2c3645;
    /* overflow: hidden;
    position: relative;
    z-index: 10; */

}
.editor-layout{
	width: 100%;
	height: 100%;


}


.preview{
	float:right;
    width: 48%;
    border: 1px solid #eaeaea;
    margin-left: 26px;
    margin-top: 10px;
    display: inline-block;
	position: absolute;
	height: 790px;

}

.preview-toolbar{
	height: 50px;
    background-color: #2c3645;
    padding-right: 5px;

}
.preview-layout{
	width: 50%;
	height: 88%;
	position: relative;


}



.rownr {float:left ; width: 5%;background-color: rgb(105,105,105); color: white; text-align: right; vertical-align:top; resize:none; overflow: hidden;}
.txt { float:left;overflow-x: scroll; background: transparent; z-index: 0 ;resize: none; border: none; outline: none; width:95%; white-space: nowrap; }



#button_compile{
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	background: none;
	
	
}

.nav-item dropdown{
	margin-right: 10px;
}

#YourAccount{
	margin-right: 10px;
}

#pdf_navigation{
	margin-bottom: 0px;
}
#pdf_zoom{
	margin-top: 0px;
	text-align: center;
}

.download{
	float: right;
	height: 50px;
	width: 50px;
	background: none;
	border: none;
	color: aliceblue;
	outline-color: none;
}

.download  :hover{
	transform: scale(1.5);
}



.btn-group{
	position: absolute;
	visibility: visible;
	margin-top: 10px;
	margin-left: 10px;
	
	
}
.btn-group :hover .zoom {
	visibility: visible;

}

.btn-compile{
    position: relative;
    background-color:#007bff;
    border: none;
    padding: 5px 5px;
    overflow: hidden;
    font-size: 15px;
    transition: 0.4s;
    margin-top: 9px;
	margin-left: 9px;
	color: white;
	border-radius: 10%;

}
.btn-compile:after{
    content:"";
    background:darkgrey;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    left:0;
    bottom:0;
    opacity:0;
	transition:all 0.6s;

}
.btn-compile:active:after{
    padding:0;
    opacity:1;
	transition:0s;
	
	
}


